/* CSS----------- */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-grey: #808080;
  --color-light-pink: #f8efef;
}

body {
  font-family: "Roboto";
  color: var(--color-grey);
}
